<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!--<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>

    <div class="container">
        <div>
        <h2 class="text-center  mt-5">Log In</h2>
    
        <form method="post" class=' text-center mt-2 mb-3' style="padding:5% 45%;width:fit-content;height:fit-content;position:relative">
            {% csrf_token %}
            
            <div class="text-center w-70 " >
                {{ form|crispy }}
            </div>
            <button type="submit" class="btn btn-outline-success mt-5 text-center ">Log In</button>
        </form>

       
    </div>
    
    </div>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
</body>
</html>